{% extends 'notes/base_note.html' %}

{% block title %}
{{ note['title'] }}
{% endblock %}

{% block body %}
<div class="note">
    <form method="post" action="{{ url_for('notes.edit_note', note_id=note['note_id']) }}">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" value="{{note['title']}}" required>
        <br>
        <label for="content">Содержание:</label>
        <textarea id="content" name="content" required>{{note['content']}}</textarea>
        <br>
        <button type="submit">Сохранить изменения</button>
    </form>
    <form method="post" action="{{ url_for('notes.delete_note', note_id=note['note_id']) }}">
        <button type="submit">Удалить</button>
    </form>
</div>

{% endblock %}