<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    {% block head %} {% endblock %}
    <Title>{% block title %} {% endblock %}</Title>
</head>
<header>
    <a href="/">Главная</a>
    {% if user_is_authenticated %}
    <a href="{{ url_for('auth.logout') }}">Выход</a>
    {% else %}
    <a href="{{ url_for('auth.register') }}">Регистрация</a>
    <a href="{{ url_for('auth.login') }}">Вход</a>
    {% endif %}
    <a href="{{ url_for('notes.note_nav') }}">Заметки</a>
</header>
<Body>
    {% block body %} {% endblock %}
</Body>
</html>