{% extends 'base.html' %}

{% block title %}
главная
{% endblock %}

{% block body %}
{% if user_is_authenticated %}
<div class="nav">
    <button onclick="location.href='{{ url_for('notes.note_nav') }}'">Заметки</button>
    <button onclick="location.href='{{ url_for('auth.logout') }}'">Выйти из аккаунта</button>
</div>
{% else %}
<div class="nav">
    <button onclick="location.href='{{ url_for('auth.register') }}'">Создать аккаунт</button>
    <button onclick="location.href='{{ url_for('auth.login') }}'">Войти</button>
</div>
{% endif %}

{% endblock %}